body {
    margin: 0;
    padding: 0;

    /* make it look decent enough */
    background: #37474F;
    color: #cdcdcd;
    font-family: "Avenir Next", "Avenir", sans-serif;

    overflow-x: hidden;
    /* needed because hiding the menu on the right side is not perfect,  */
}

a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

a:hover {
    color: #37474F;
}

#menuToggle {
    display: block;
    position: absolute;
    top: 30px;
    right: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
  * Just a quick hamburger
  */
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #EDEDED;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
  * But let's hide the middle one.
  */
#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
  * Ohyeah and the last one should go the other direction
  */
#menuToggle input:checked~span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: -100px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

/*
  * And let's fade it in from the left
  */
#menuToggle input:checked~ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
}

.home {
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1469980098053-382eb10ba017?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EDEDED;
}



h2 {
    font-family: 'Zen Dots', cursive;
    padding: 1em;
}

h1 {
    font-size: 10vw;
    font-family: 'Raleway', sans-serif;
}

h3 {
    font-family: 'Raleway', sans-serif
}

/* section {
    height: 110vh;
} */

p {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}


.skills {
    background-color: #CDCDCD;
    color: #37474F;
    font-size: 10vw;
}

.skills p {
    font-size: 0.3em;
    font-weight: bolder;
}

.cards {
    background-color: #CDCDCD;
    color: #37474F;
}

/* !!!!!! */
.projects {
    height: 150vh;
}
/* !!!!!! */

footer {
    height: 10vh;
    background-color: #CDCDCD;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#main {
    min-height: 100%;
    position: relative;
}

.typewriter h1 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #EDEDED;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(20, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #EDEDED;
    }
}

.html,
.css,
.bootstrap,
.js,
.react,
.node {
    transition: .5s ease-in-out 0s;
}

.html:hover {
    transform: scale(1.1);
    animation-name: hover-html;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
@keyframes hover-html {
    100% {
        color: #F75421;
    }
}

.css:hover {
    transform: scale(1.1);
    animation-name: hover-css;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
@keyframes hover-css {
    100% {
        color: #2194F0;
    }
}

.bootstrap:hover {
    transform: scale(1.1);
    animation-name: hover-bootstrap;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
@keyframes hover-bootstrap {
    100% {
        color: #533B78;
    }
}

.js:hover {
    transform: scale(1.1);
    animation-name: hover-js;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
@keyframes hover-js {
    100% {
        color: #EFD81D;
    }
}

.react:hover {
    transform: scale(1.1);
    animation-name: hover-react;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
@keyframes hover-react {
    100% {
        color: #61DBFB;
    }
}

.node:hover {
    transform: scale(1.1);
    animation-name: hover-node;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
@keyframes hover-node {
    100% {
        color: #7FC042;
    }
}


@media (max-width: 370px) {
    p{
        font-size: 20px;
    }
}
